/* Istandsætter at der skal være 0 margner, samt 0 padding og med et specifit font til hele siden */
* {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;

}
/* Baggrund */
body {
    background-image: url("Photo/cardmapr-nl-s8F8yglbpjo-unsplash.jpg"); 
    background-position: center;
}
/* opsøtning af logo */
.logo {
    position: absolute;
    width: 200px;
    cursor: pointer;
    top: 10px;
    left: 20px;
}
/* opsætning af nav bar */
nav {
    position: absolute;
    left: 35%;
    top: 30px;
}
nav ul li {
    /* står på en række, fremfor ned ad */
    display: inline-block;
    /* Hvor meget den skal gå ud fra teksten i alle 4 retninger */
    padding: 20px;
}

nav ul li a {
    /* miste stregerne under links */
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.5s;
}
/* alt det der skal ske når musen bliver holdt over */
nav ul li a:hover{
    -webkit-text-stroke: 2px #8616d5;
    color: transparent;
    font-size: 30px;
}
/* opsætning af billetens billede */
.billet {
    position: absolute;
    width: 40%;
    height: 60%;
    top: 27%;
    left: 10%;
}
/* opsætning af "Vælg dine billetter" */
h1 {
    position: absolute;
    color: #FFF;
    left: 60%;
    top: 20%;
    font-size: 50px;
}
/* opsætning af "engangbillet..." */
h2 {
    position: absolute;
    color:#FFF ;
    top: 40%;
    left: 52%;
    font-size: 35px;
}
/* opsætning af "250 kr..." */
p {
    position: absolute;
    color: #FFF;
    font-size: 25px;
    top: 45%;
    left: 52%;
}
/* Opsætning af inputfeltet der tager numre */
.number{
    position:absolute;
    top: 42%;
    left: 85%;
    width: 10%;
    height:10%;
    font-size: 50px;
}
/* Opsætning af submit knappen "Køb billet" */
.submit {
    position: absolute;
    top: 70%;
    left: 78%;
    background-color: white;
    color: black;
    font-size: 65px;
    transition: 0.2s;
}

.submit:hover {
    background-color: #8616d5;
    color: white;
    font-size: 70px;
}
